*{
    padding:0.1em;
}
html{
    background-color: #ecf0f1;
}
body > header{
    background-color: #0075a3;
}
section header{
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #0075a3;
    padding-left: 0.5em;
    padding-top: 0.1em;
}
h5{
    text-align: right;
}
final{
    text-align: right;
}
section{
    background-color: ivory;
}
/*NAV*/
header nav{
    text-align: center;
    background-color: whitesmoke;
}
li{
    margin-left: 1em;
}   
header li{
    margin-right: 1em;
    display: inline-flex;
}
header a{
    color: black;
    text-decoration: unset;
}
main.index{
    display: inline-block;
    width: 84%;
}
aside{
    width: 13%;
    float: right;
    background-color: #9e9e9e;
    padding: 1em;
}
.Column article{
    display: inline-block;
    width: 48%;
}
.Column article ~ article{
    width: 51%;
}



