/*RECETA PAGE*/
.recipe h2, .recipe h3{
	text-align: center;
	margin: 1em;
}
.recipe h2{
	color:#7ABA96;
}
.center {
    /*width: 50%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 480px;
	height: 360px;
}
.recipe section.content-recetas{
	text-align:left;
}
.recipe main section{
    border-top:1px solid #7ABA96;;
	margin-top: 1em;
	clear: both;
}
.ingredients{
    width: 40%;
    padding: 2em;
    background-color: #7ABA96;
    border: 1px dotted black;
    margin: 0.5em 0px;
	text-align: left;
	margin-left: auto;
    margin-right: auto;
}
.resum{

    width: 40%;
    padding: 2em;
    background-color: #7ab8ba;
    border: 1px dotted black;
    margin: 0.5em 0px;
	text-align: left;
	margin-left: auto;
    margin-right: auto;
}
.recipe main footer{
    width: 60%;
    padding: 0.5em 0em;
}
.recipe main footer h2{
    color: #7ABA96 ;
}
.recipe main h4{
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #7ABA96;
}
.color_box{
	display: inline-block;
	padding-right: 3em;
	padding-left: 3em;
	background-color: #7ABA96;
	border-end-end-radius: 2em;
	color: seashell;
	text-align: center;
}
.recipe input{
    width: 100%;
}
.recipe input[type=submit],input[type=reset]{
    width: auto;
}
.recipe input[id=comentario]{
    height: 10em;
}